@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* evita el incremento debido al padding */
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0e1a16;
    color: #e1eee9;
    /* p: #aed0c4 */
    /* s: #3a5f65 */
    width: 768px;
    margin: auto;
}

#verde,
#naranja,
#violeta
{
    color: #0e1a16;
}

#verde{
    width: 200px;
    height: 200px;
    background-color: #85c89f;
}
#naranja{
    width: 200px;
    /* width: calc( 200px - 32px - 32px );*/
    height: 200px;
    /* height: calc( 200px - 32px - 32px ); */
    background-color: #c8a785;
    padding: 32px;


}
#violeta{
    width: 200px;
    height: 200px;
    background-color: #af85c8;
}