@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* evita el incremento debido al padding */
}

html{
    font-size: 30px; /* 1red */
    /* si nadie lo modifica */
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0e1a16;
    color: #e1eee9;
    /* p: #aed0c4 */
    /* s: #3a5f65 */
    width: 768px;
    margin: auto;

    font-size: 24px; /* 1em  MODIFICADO */
}

#parrafox{
    font-size: .5em;
}

#seccionx{
    font-size: 20px;
    margin: 32px;
    padding: 24px;
}
    /* descendencia */
    #seccionx article{
        width: 124px;
        width: 5rem; /* del html */
        height: 124px;
        background-color: #aed0c4;
        color: #0e1a16;
        font-size: 1em; /* del contendor */
        font-size: 1rem;
    }