@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #3c3c3c;
}
a{
    text-decoration: none;
}
@media screen and ( max-width: 640px ){
    header{
        width: 640px;
        height: 80px;
        margin: auto;
    }
    header a{
        color: #3c3c3c;
        font-size: 24px;
    }
    /* logo */
        header a img{
            width: 48px;
            vertical-align: middle;
        }
    /* navegación */

}