#container{
    width: 960px;
    /* height: 500px;*/
    margin: auto;
    background-color: #7c7f7f;
    display: grid;
    /*### columnas ###*/
    /* grid-template-columns: 320px 320px 320px; */
    /* grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);*/
    /* grid-template-columns: 1fr 1fr 1fr; */
    /*###  repeat( veces, valor )  ###*/
    /* grid-template-columns: repeat( 3, 1fr );*/
    /* grid-template-columns: 1fr 1fr 2fr; */
    grid-template-columns: repeat( 2, 1fr ) 2fr;

    /*### filas ###*/
    grid-template-rows: 2fr 1fr;

}
    #container article{
        background-color: #7bc197;
        border: 1px solid #e8e8e8;
        padding: 8px;
        text-align: center;
        transition: .5s;
    }
    #container article:hover{
        background-color: #8cdbac;
    }
