#container{
    max-width: 960px;
    margin: auto;
    background-color: #7c7f7f;
    display: grid;
    /*### columnas ###*/
    /*### minmax( valorMinimo, valorMaximo ) ###*/
    /* grid-template-columns: minmax(600px, 800px);*/
    /* grid-template-columns: minmax(300px, 1fr) 1fr;*/
    /* grid-template-columns: minmax(300px, 1fr) 1fr 1fr;*/

    /* grid-template-columns: 1fr minmax(400px, 1fr) 1fr; */
    /*#### autorelleno:   autofill  ####*/
    /* Autocompleta la fila con tantas columnas
    como entren en el contenedor */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
    #container article{
        background-color: #7bc197;
        border: 1px solid #e8e8e8;
        padding: 8px;
        text-align: center;
        transition: .5s;
    }
    #container article:hover{
        background-color: #8cdbac;
    }
